@import "scss/colors";
@import "scss/media_forgot_passwor";
body>.content::before {
    display: none;
}

.panels .panel {
    background-image: url(../Images/signin-bg.jpg);
}

.sign-in .btn-form:hover {
    background: linear-gradient(to left, $icon_sign-up_color, $icon_sign-in_color);
}

.sign-up .btn-form:hover {
    background: linear-gradient(to right, $icon_sign-up_color, $icon_sign-in_color);
}

.send_mode .sign-in-sign-up .sign-up,
.sign-in {
    opacity: 1;
    z-index: 5;
}

.send_mode .sign-in-sign-up .sign-in,
.sign-up {
    opacity: 0;
    z-index: 4;
}

.send_mode .sign-in-sign-up .sign-in,
.send_mode .sign-in-sign-up .sign-up {
    transition: all 0.2s 0.8s ease-in-out;
}

body>.send_mode {
    .panels .panel {
        background-image: url(../Images/signup-bg.jpg);
    }
    .sign-in-sign-up {
        left: 42%;
    }
    .panels {
        .panel-right {
            left: 0%;
        }
    }
}