.type .char {
    visibility: hidden;
    animation: animate 0s steps(2) forwards;
    animation-delay: calc(0.04s *var(--char-index));
}

@keyframes animate {
    0% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}