$blue: #0d6efd;
$blue1: #0dcaf0;
$blue2: #00a3ff;
$bodyblue: #7590e7;
$befor_colorblue: #62b3eb;
$befor_color: #6f42c1; //#6366f1//#766df4//#6c5ce7
$bodypink: #ed89fa;
$befor_colorpink: #ed7af9;
$light: #f8f9fa;
$valid: #198754;
$invalid: #dc3545;
$dark: #212529;
$dark_bg: #0000004d;
$body-color: #f2f2f2;
$dark_mode: #131022;
$dark_mode_color: rgba(255, 255, 255, 0.7);
$dark_mode_background: rgba(255, 255, 255, 0.05);
$shadow_btn: rgba(100, 103, 242, 0.902);
$icon_sign-in_color: #dc5bf3;
$icon_sign-up_color: #6478eb;
$red: #dc3545;
$icon_dark: #183153;
//rgb(24,17,60)