@media (max-width: 992px) {
    .send_mode {
        .sign-in-sign-up {
            left: 0% !important;
            top: 25% !important;
        }
    }
    body {
        >.content.send_mode .panel-right {
            border-radius: 0.25rem !important;
            top: -80% !important;
            .container {
                height: 100% !important;
                align-items: flex-end !important;
            }
        }
    }
}